@media (orientation: portrait) {
    :root {
        font-size:      min(4.25svw, 2.55svh);
    }
}

@media (orientation: landscape) {
    :root {
        font-size:      min(4.25svh, 2.575svw);
   }
}

* {
    font-family: sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
}

body {
    position: absolute;
    width: 100svw;
    height: 100svh;
    background-color: darkgreen;
    color: white;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
    overflow: hidden;
}

#loadPage {
    position: absolute;
    width: 100svw;
    height: 100svh;
    padding: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.helpIcon {
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    height: 1.1em;
    filter: invert(100%);
}

.whiteClose {
    position: absolute;
    top: 0.26em;
    right: 0.26em;
    height: 1.32em;
    filter: invert(100%);
}

#loadPage input {
    width: 7em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#startPage {
    position: absolute;
    height: 100svh;
    width: 100svw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#startForm {
    display: flex;
    width: 20em;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: center;
}

#startCtr {
    width: 100%;
    line-height: 1.5em;
    border: 2px solid;
}

#playersGrid {
    margin-top: 1em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1.3em 1.3em 0.4em 1.3em 1.3em 0.4em 1.3em 1.3em;
    text-align: left;
}

#wLabl {grid-area: 04/01/04/05}
#wName {grid-area: 05/01/05/05}
#wIcon {grid-area: 05/05/05/05}
#nLabl {grid-area: 01/04/01/08}
#nName {grid-area: 02/04/02/08}
#nIcon {grid-area: 02/08/02/08}
#eLabl {grid-area: 04/07/04/11}
#eName {grid-area: 05/07/05/11}
#eIcon {grid-area: 05/11/05/11}
#sLabl {grid-area: 07/04/07/08}
#sName {grid-area: 08/04/08/08}
#sIcon {grid-area: 08/08/08/08}

.pName {
    width: 100%;
    height: 1.3em;
    border: none;
    padding-left: 0.4em;
    text-align: left;
    background-color: white;
}

.pIcon {
    position: relative;
    top: -0.25em;
    height: 1.8em;
    width: 100%;
    filter: invert(100%);
}

#assistanceGrid {
    margin-top: 1em;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    justify-content: center;
    text-align: right;
}

.aBox {
    position: relative;
    bottom: 0.1em;
    height: 1.3em;
    filter: invert(100%);
}

#startSub {
    width: 5em;
    height: 1.3em;
    margin-top: 0.8em;
    border: none;
    background-color: white;
    text-align: center;
}

#pEdit, #jEdit {
    width: 100%;
    display: grid;
    justify-items: center;
}

#pAddDiv, #pDelDiv, #jAddDiv, #jDelDiv {
    margin-top: 1.2em;
    width: 9.2em;
    padding: 0.4em;
    border: 2px solid;
    text-align: left;
}

#pAddInp, #pDelSel, #jAddInp, #jDelSel {
    width: 100%;
    height: 1.3em;
    padding-left: 0.4em;
    border: none;
    background-color: white;
}

#joinPage {
    height: 100svh;
    width: 100svw;
    display: none;
    place-items: center;
    overflow: hidden;
}

#joinForm {
    width: 10em;
}

#jGame {
    height: 1.3em;
    width: 100%;
    border: none;
    padding: 0em 0em 0em 0.4em;
    background-color: white;
}

#jGame::placeholder {
    color: red;
}

#joinBtns {
    display: grid;
    place-items: center;
}

#joinSub {
    width: 5em;
    height: 1.3em;
    border: none;
    background-color: white;
    text-align: center;
}

#gamePage {
    position: absolute;
    width: 100svw;
    height: 100svh;
    display: none;
    overflow: hidden;
}

#trumpIcon {
    position: absolute;
    left: 1.8em;
    top: 0.5em;
    height: 0.9em;
    filter: invert(100%);
    display: none;
}

#trumpOut {
    position: absolute;
    left: 2.9em;
    top: 0.4em;
    width: 1.4em;
    text-align: left;
}

#cardImg img, #faceImg img, #backImg img {
    position: absolute;
    width: round(4em, 1px);
    height: round(5.6em, 1px);
    top: round(-2.8em, 1px);
    left: round(-2em, 1px);
    touch-action: none;
}

#faceImg, #backImg {
    display: none;
}

#textArea {
    position: absolute;
    top: calc(50svh - 4.28em);
    left: calc(50svw - 5.52em);
    width: 11.04em;
    height: 8.56em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bidText {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#meldTable {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

#trumpColumn img {
    height: 0.8em;
    filter: invert(100%);
}

#bidButtons {
    width: 100%;
    margin-top: 0.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bidButtons input {
    width: 3em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#trumpText {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#trumpText input {
    width: 8em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#playText {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#playBtns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#playBtn, #tossBtn {
    width: 4em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#handText {
    width: 80svw;
    display: none;
    text-align: center;
}

#handPara {
    margin-bottom: 0.8em;
}

#handGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: 3em 3em 3em;
    margin-bottom: 0.8em;
}

#handBtn {
    width: 4em;
    margin-top: 0.4em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#iText {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.4em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    color: black;
    background-color: white;
}

.blackClose {
    position: absolute;
    top: 0.26em;
    right: 0.26em;
    height: 1.32em;
}

#iText #iOut {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1.5em 1.5em 1.5em 1.5em;
    justify-content: space-between;
    text-align: center;
}

#iText #iOut img {
    position: relative;
    top: 0.1em;
    left: 0.3em;
    height: 0.9em;
}

#infoAreas {
    position: absolute;
    text-align: center;
    display: none;
    z-index: -1000;
}

.infoHint img {
    height: 0.8em;
    filter: invert(100%);
    opacity: 100%;
}

#wInfo .infoName {
    position: absolute;
    left: 0.4em;
    width: 5.6em;
}

#wInfo .infoBid {
    position: absolute;
    left: 0.4em;
    width: 5.6em;
}

#wInfo .infoHint {
    position: absolute;
    left: 0.4em;
    width: 5.6em;
}

#nInfo {
    position: absolute;
    top: 0.44em;
    left: calc(50svw - 10em);
    width: 20em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#eInfo .infoName {
    position: absolute;
    left: calc(100svw - 6em);
    width: 5.6em;
}

#eInfo .infoBid {
    position: absolute;
    left: calc(100svw - 6em);
    width: 5.6em;
}

#eInfo .infoHint {
    position: absolute;
    left: calc(100svw - 6em);
    width: 5.6em;
}

#sInfo {
    position: absolute;
    top: calc(100svh - 1.6em);
    left: calc(50svw - 10em);
    width: 20em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@keyframes blink {
    0% {opacity:1}
    50% {opacity:0}
    100% {opacity:1}
}

#helpPage>div {
    position: absolute;
    top: 0em;
    left: 0em;
    padding: 0.4em;
    width: 100%;
    color: black;
    background-color: white;
    z-index: 1000;
    display: none;
}

#helpPage>div>b {
    display: block;
}

#helpPage>div>p {
    margin-top: 0.8em;
}

#helpPage>div>ul {
    margin-top: 0.5em;
    margin-left: 1.6em;
}

#helpPage>div>ul>li>ul {
    margin-left: 1.6em;
}

#helpPage>div>ul img {
    position: relative;
    height: 1em;
    top: 0.2em;
}

#helpPage>div>.links {
    margin-top: 0.8em;
    display: grid;
    grid-template-columns: repeat(auto-fit, 4.2em);
    column-gap: 0.4em;
}

#helpPage>.screenshot {
    padding: 0em !important;
    height: 100svh;
    width: 100svw;
    background-color: black !important;
}

#helpPage>.screenshot>div {
    display: grid;
    justify-content: center;
}

#helpPage>.screenshot>div>img {
    max-height: 100svh;
    max-width: 100svw;
}

#helpPage #meldGrid {
    margin-top: 0.8em;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1.3em repeat(8, auto);
    column-gap: 0.5em;
    justify-content: center;
    text-align: center;
}

#helpPage #meldGrid img {
    height: 0.8em;
}