@media (orientation: portrait) {
    :root {
        font-size:      min(4.25svw, 2.55svh);
        --list-height:  21em;
        --wInfo-left:   0.4em;
        --eInfo-left:   calc(100svw - 6em);
        --wgrid-left:   0.44em;
        --egrid-left:   calc(100svw - 5.92em);
        --number-left:  calc(100svw - 2.96em);
        --number-top:   0.44em;
        --number-align: right;
        --ass-width:    21em;
    }
}

@media (orientation: landscape) {
    :root {
        font-size:      min(4.25svh, 2.575svw);
        --list-height:  7em;
        --wInfo-left:   2.12em;
        --eInfo-left:   calc(100svw - 7.72em);
        --wgrid-left:   2.16em;
        --egrid-left:   calc(100svw - 7.68em);
        --number-left:  calc(100svw - 1.84em);
        --number-top:   1.6em;
        --number-align: center;
        --ass-width:    100%;
   }
}

* {
    font-family: sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
}

body {
    position: relative;
    width: 100svw;
    height: 100svh;
    background-color: darkgreen;
    color: white;
    -webkit-user-select: none;
    user-select: none;
    touch-action: pan-y;
    overflow: hidden;
}

#canvas {
    position: absolute;
}

#loadPage {
    position: absolute;
    width: 100svw;
    height: 100svh;
    padding: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#loadPage input {
    width: 8em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#startPage {
    height: 100svh;
    width: 100svw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pageTitle {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0.4em;
    text-align: left;
    font-weight: bold;
}

.whiteClose {
    position: absolute;
    top: 0.26em;
    right: 0.26em;
    height: 1.32em;
    filter: invert(100%);
}

#startFields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

#startFields input[type="text"] {
    width: 100%;
    height: 1.3em;
    border: none;
    padding: 0em 0em 0em 0.4em;
    text-align: left;
    background-color: white;
}

#startFields input[type="image"], #startFields img {
    position: relative;
    top: -0.25em;
    height: 1.8em;
    filter: invert(100%);
}

#startFields ul {
    position: relative;
    width: 100%;
    min-height: 100%;
    max-height: var(--list-height);
    overflow-y: auto;
    overflow-x: hidden;
    color: black;
    background-color:white;
    border: none;
    border-top: 2px solid darkgreen;
    display: none;
    z-index: 100;
}

#startFields li {
    margin: 0.8em 0em 0.8em 0.4em;
}

#startFields li:hover, #startFields li .selected {
    background-color: lightgray;
}

#startFields fieldset {
    height: 11.8em;
    margin: 0.4em;
    padding: 0em 0.4em 0em 0.4em;
    border: 1px solid;
    text-align: left;
}

#playersGrid {
    margin-top: 0.4em;
    width: 21em;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: 1.3em 2.0em 1.3em 2.0em 1.3em 2.1em;
    justify-content: center;
}

#wTag   {grid-area: 03/01/03/09; text-align: left}
#wBlock {grid-area: 04/01/04/09; text-align: left}
#wIcon  {grid-area: 04/09/04/10}
#nTag   {grid-area: 01/06/01/14; text-align: left}
#nBlock {grid-area: 02/06/02/14; text-align: left}
#nIcon  {grid-area: 02/14/02/15}
#eTag   {grid-area: 03/11/03/19; text-align: left}
#eBlock {grid-area: 04/11/04/19; text-align: left}
#eIcon  {grid-area: 04/19/04/20}
#sTag   {grid-area: 05/06/05/14; text-align: left}
#sBlock {grid-area: 06/06/06/14; text-align: left}
#sIcon  {grid-area: 06/14/06/15}

#assistanceGrid {
    margin-top: 0.4em;
    width: var(--ass-width);
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, 2em);
    justify-content: center;
    column-gap: 0.5em;;
    text-align: right;
}

.tip {
    position: relative;
}

.tip img {
    position: relative;
    bottom: 0.1em;
    height: 1.3em;
    filter: invert(100%);
}

.tiptext {
    padding: 0.4em;
    visibility: hidden;
    position: absolute;
    width: 18.2em;
    bottom: 2.2em;
    right: -2.7em;
    color: black;
    background-color: white;
    text-align: left;
}

.tip:hover .tiptext {
    visibility: visible;
}

#startBtn {
    width: 5em;
    height: 1.3em;
    margin: 0.8em 0em 0em 0em;
    border: none;
    background-color: white;
    text-align: center;
}

#gamePage {
    position: absolute;
    width: 100svw;
    height: 100svh;
    display: none;
}

#menuIcon {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.32em;
    filter: invert(100%);
    margin: 0.4em;
}

#trmpIcon {
    position: relative;
    float: right;
    margin: 0.4em;
    height: 1em;
    filter: invert();
    display: none;
}

#nTrump {
    position: absolute;
    top: var(--number-top);
    left: var(--number-left);
    width: 1.4em;
    text-align: var(--number-align);
}

#textArea {
    position: absolute;
    top: calc(50svh - 4.28em);
    left: calc(50svw - 5.52em);
    width: 11.04em;
    height: 8.56em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bidText {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#meldTable {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

#trumpColumn img {
    height: 0.8em;
    filter: invert();
}

#bidButtons {
    width: 100%;
    margin-top: 0.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bidButtons input {
    width: 3em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#trumpText {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#trumpText input {
    width: 8em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#playText {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#playBtns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#playBtns input {
    width: 4em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#handText {
    width: 100%;
    display: none;
    text-align: left;
}

#handTable {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

#nextDiv, #overDiv {
    width: 100%;
    margin: 0.2em;
    text-align: center;
}

#nextDiv input, #overDiv input {
    width: 3em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#iText {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.4em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: black;
    background-color: white;
}

.blackClose {
    position: absolute;
    top: 0.26em;
    right: 0.26em;
    height: 1.32em;
}

#wGrid, #nGrid, #eGrid {
    position: absolute;
    width: 5.488em;
    height: 5.488em;
    display: none;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 1.008em 1.12em 1.12em 1.12em 1.12em;
    justify-content: space-around;
    text-align: center;
    color: black;
    background-color: #ffffffc0;
}

#wGrid {
    top: calc(050svh - 2.8em);
    left: var(--wgrid-left);
}

#nGrid {
    top: 1.76em;
    left: calc(050svw - 2.8em);
}

#eGrid {
    top: calc(050svh - 2.8em);
    left: var(--egrid-left);
}

.gIcon {
    height: 0.8em;
}

.count {
    height: 1em;
}

#infoAreas {
    position: absolute;
    width: 100svw;
    height: 100svh;
    text-align: center;
    z-index: -100;
}

.infoText {
    display: inline;
}

.infoIcons {
    display: none;
}

#wInfo .infoText {
    position: absolute;
    top: 0.44em;
    left: var(--wInfo-left);
    width: 5.6em;
}

#wInfo .infoIcons {
    position: absolute;
    top: calc(100svh - 1.6em);
    left: var(--wInfo-left);
    width: 5.6em;
}

#nInfo {
    position: absolute;
    top: 0.44em;
    width: 100%;
    margin: auto;
}

#eInfo .infoText {
    position: absolute;
    top: 0.44em;
    left: var(--eInfo-left);
    width: 5.6em;
}

#eInfo .infoIcons {
    position: absolute;
    top: calc(100svh - 1.6em);
    left: var(--eInfo-left);
    width: 5.6em;
}

#sInfo {
    position: absolute;
    top: calc(100svh - 1.6em);
    width: 100%;
    margin: auto;
    animation: none;
}

@keyframes blink {
    0% {opacity:1}
    50% {opacity:0}
    100% {opacity:1}
}

.infoIcons img {
    height: 0.75em;
    filter: invert();
    opacity: 100%;
}

#menuText {
    position: absolute;
    width: 16em;
    padding: 0.4em;
    color: black;
    background-color: white;
    display: none;
}

.menuIcon {
    position: relative;
    top: 0.3em;
    height: 1.32em;
}

#tutorText {
    position: absolute;
    padding: 0.4em;
    width: 100svw;
    height: 100svh;
    line-height: 1em;
    color: black;
    background-color: white;
    display: none;
}

#tutorText div {
    display: none;
}

.backIcon {
    position: absolute;
    bottom: 0.4em;
    left: 0.4em;
    height: 1.32em;
}

.nextIcon {
    position: absolute;
    bottom: 0.4em;
    right: 0.4em;
    height: 1.32em;
}

#tutorText ul {
    margin-left: 1.6em;
}

#aboutText {
    position: absolute;
    padding: 0.4em;
    width: 16em;
    color: black;
    background-color: white;
    display: none;
}