:root {
    --body-width:       min(96vw, 450px);
    --body-font-size:   calc(var(--body-width) / 30);
    --header-font-size: calc(var(--body-width) / 20);
    --square-width:     calc(var(--body-width) / 9);
    --square-font-size: calc(var(--body-width) / 14);
    --mark-width:       calc(var(--square-width) / 3);
    --mark-font-size:   calc(var(--body-width) / 40);
    --keypad-width:     calc(var(--body-width) * 0.44);
    --key-width:        calc(var(--body-width) / 7.3);
    --text-width:       calc(var(--body-width) * 0.56);
    --input-width:      calc(var(--body-width) / 40);
    --button-width:     calc(var(--body-width) / 6);
}

body {
    width: var(--body-width);
    margin: auto;
    font-family: sans-serif;
    font-size: var(--body-font-size);
    user-select: none;
}

h1 {
    width: var(--body-width);
    margin: 8px 0px;
    font-size: var(--header-font-size);
    font-weight: 600;
    text-align: center;
}

#notes {
    width: var(--body-width);
    height: var(--body-width);
    display: flex;
    flex-flow: row wrap;
    position: absolute;
}

#notes div {
    width: var(--square-width);
    height: var(--square-width);
    padding-top: 0.6%;
    color: gray;
    font-size: var(--mark-font-size);
    text-align: center;
    box-sizing: border-box;
}

#puzzle {
    width: var(--body-width);
    height: var(--body-width);
    outline: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    position: absolute;
}

#puzzle div {
    width: var(--square-width);
    height: var(--square-width);
    padding-top: 2%;
    font-size: var(--square-font-size);
    font-weight: 600;
    text-align: center;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

#puzzle :nth-child(3n+0) {border-right: 1px solid black;}
#puzzle :nth-child(3n+1) {border-left: 1px solid black;}
#puzzle :nth-child(27n-26), #puzzle :nth-child(27n-25), #puzzle :nth-child(27n-24) {border-top: 1px solid black;}
#puzzle :nth-child(27n-23), #puzzle :nth-child(27n-22), #puzzle :nth-child(27n-21) {border-top: 1px solid black;}
#puzzle :nth-child(27n-20), #puzzle :nth-child(27n-19), #puzzle :nth-child(27n-18) {border-top: 1px solid black;}
#puzzle :nth-child(27n-8), #puzzle :nth-child(27n-7), #puzzle :nth-child(27n-6) {border-bottom: 1px solid black;}
#puzzle :nth-child(27n-5), #puzzle :nth-child(27n-4), #puzzle :nth-child(27n-3) {border-bottom: 1px solid black;}
#puzzle :nth-child(27n-2), #puzzle :nth-child(27n-1), #puzzle :nth-child(27n-0) {border-bottom: 1px solid black;}
#puzzle :nth-child(1) {border: 2px dashed black}

#marks {
    width: var(--body-width);
    height: var(--body-width);
    display: flex;
    flex-flow: row wrap;
}

.square {
    width: var(--square-width);
    height: var(--square-width);
    padding-top: 0.6%;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.square div {
    width: var(--mark-width);
    height: var(--mark-width);
    color: gray;
    font-size: var(--mark-font-size);
    font-weight: normal;
    text-align: center;
    border: none;
}

#text {
    margin-top: 12px;
}

#text div {
    display: none;
}

#text :nth-child(1) {
    display: inline;
}

#controls {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#keypad {
    width: var(--keypad-width);
    height: var(--keypad-width);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

#keypad div {
    width: var(--key-width);
    height: var(--key-width);
    padding-top: 5%;
    font-size: var(--square-font-size);
    font-weight: 600;
    text-align: center;
    background-color: lightgray;
    border: 4px outset lightgray;
    box-sizing: border-box;
}

h2 {
    margin: 0px;
    padding: 3px 12px 2px 12px;
    font-size: var(--body-font-size);
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

#mode input {
    width: var(--input-width);
    height: var(--input-width);
    outline: none;
}

#mode div {
    margin-top: 12px;
    display: block;
}

#options {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#options input {
    width: var(--input-width);
    height: var(--input-width);
    outline: none;
}

#options div div {
    margin-top: 12px;
    display: block;
}

#buttons {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#buttons input {
    width: var(--button-width);
}
