@media (orientation: portrait) {
    :root {
        font-size:      min(4.25svw, 2.55svh);
        --list-height:  21em;
        --ass-width:    21em;
    }
}

@media (orientation: landscape) {
    :root {
        font-size:      min(4.25svh, 2.575svw);
        --list-height:  7em;
        --ass-width:    100%;
   }
}

* {
    font-family: sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
}

body {
    position: absolute;
    width: 100svw;
    height: 100svh;
    background-color: darkgreen;
    color: white;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
    overflow: hidden;
}

#loadPage {
    position: absolute;
    width: 100svw;
    height: 100svh;
    padding: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

#loadPage input {
    width: 6em;
    height: 1.3em;
    border: none;
    background-color: white;
}

.tutorPage {
    position: absolute;
    width: 100svw;
    height: 100svh;
    padding: 0.4em;
    display: none;
    overflow: hidden;
}

.tutorPage .backIcon {
    position: absolute;
    bottom: 0.4em;
    left: 0.4em;
    height: 1.32em;
}

.tutorPage .nextIcon {
    position: absolute;
    bottom: 0.4em;
    right: 0.4em;
    height: 1.32em;
}

#tutorGrid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1.3em repeat(8, auto);
    column-gap: 0.5em;
    justify-content: center;
    text-align: center;
}

.tutorPage img {
    height: 0.8em;
    filter: invert(100%);
}

.tutorPage ul {
    margin-top: 0.5em;
    margin-left: 1.6em;
}

#createPg {
    position: absolute;
    height: 100svh;
    width: 100svw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pageTitle {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0.4em;
    text-align: left;
    font-weight: bold;
}

.tutorPage .whiteClose, .whiteClose {
    position: absolute;
    top: 0.26em;
    right: 0.26em;
    height: 1.32em;
    filter: invert(100%);
}

#createForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

#createForm fieldset {
    height: 11.8em;
    margin: 0.4em;
    padding-left: 0.4em;
    border: 1px solid;
    text-align: left;
}

#playersGrid {
    margin-top: 0.4em;
    width: 21em;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1.3em 2.0em 1.3em 2.0em 1.3em 2.0em;
}

:nth-child(1 of .pLabl) {grid-area: 03/01/03/05}
:nth-child(1 of .pBlck) {grid-area: 04/01/04/05}
:nth-child(1 of .pIcon) {grid-area: 04/05/04/05}
:nth-child(2 of .pLabl) {grid-area: 01/04/01/08}
:nth-child(2 of .pBlck) {grid-area: 02/04/02/08}
:nth-child(2 of .pIcon) {grid-area: 02/08/02/08}
:nth-child(3 of .pLabl) {grid-area: 03/07/03/11}
:nth-child(3 of .pBlck) {grid-area: 04/07/04/11}
:nth-child(3 of .pIcon) {grid-area: 04/11/04/11}
:nth-child(4 of .pLabl) {grid-area: 05/04/05/08}
:nth-child(4 of .pBlck) {grid-area: 06/04/06/08}
:nth-child(4 of .pIcon) {grid-area: 06/08/06/08}

.pName {
    width: 100%;
    height: 1.3em;
    border: none;
    padding: 0em 0em 0em 0.4em;
    text-align: left;
    background-color: white;
}

.pName::placeholder {
    color: red;
}

.pList {
    position: absolute;
    width: 7.6em;
    max-height: var(--list-height);
    overflow-y: auto;
    overflow-x: hidden;
    color: black;
    background-color:white;
    border: none;
    border-top: 2px solid darkgreen;
    display: none;
    z-index: 100;
}

#createPg li, #joinPage li {
    margin: 0em 0.4em 0em 0.4em;
    line-height: 3em;
}

.selected {
    background-color: lightgray;
}

.pIcon {
    position: relative;
    top: -0.25em;
    height: 1.8em;
    width: 100%;
    filter: invert(100%);
}

#assistanceGrid {
    margin-top: 0.4em;
    padding-right: 0.4em;
    width: var(--ass-width);
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, 2em);
    justify-content: center;
    column-gap: 0.5em;;
    text-align: right;
}

.tip {
    position: relative;
}

.tip img, .aBox {
    position: relative;
    bottom: 0.1em;
    height: 1.3em;
    filter: invert(100%);
}

.tiptext {
    padding: 0.4em;
    visibility: hidden;
    position: absolute;
    width: 18.2em;
    bottom: 2.2em;
    right: -2.7em;
    color: black;
    background-color: white;
    text-align: left;
}

.tip:hover .tiptext {
    visibility: visible;
}

#createSub {
    width: 5em;
    height: 1.3em;
    margin: 0.8em 0em 0em 0em;
    border: none;
    background-color: white;
    text-align: center;
}

#joinPage {
    height: 100svh;
    width: 100svw;
    display: none;
    place-items: center;
    overflow: hidden;
}

#joinPage form {
    width: 10em;
}

#joinPage input {
    height: 1.3em;
    width: 100%;
    border: none;
    padding: 0em 0em 0em 0.4em;
    background-color: white;
}

#joinPage input::placeholder {
    color: red;
}

#joinBtns {
    display: grid;
    place-items: center;
}

#joinSub {
    width: 5em;
    height: 1.3em;
    border: none;
    background-color: white;
    text-align: center;
}

#gamePage {
    position: absolute;
    width: 100svw;
    height: 100svh;
    display: none;
    overflow: hidden;
}

#menuIcon {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.32em;
    filter: invert(100%);
    margin: 0.4em;
}

#trmpIcon {
    position: relative;
    float: right;
    margin: 0.4em;
    height: 1em;
    filter: invert(100%);
    display: none;
}

#nTrump {
    position: absolute;
    top: 0.44em;
    left: calc(100svw - 2.96em);
    width: 1.4em;
    text-align: right;
}

#cardImg img, #faceImg img, #backImg img {
    position: absolute;
    width: round(4em, 1px);
    height: round(5.6em, 1px);
    top: round(-2.8em, 1px);
    left: round(-2em, 1px);
    touch-action: none;
}

#faceImg, #backImg {
    display: none;
}

#textArea {
    position: absolute;
    top: calc(50svh - 4.28em);
    left: calc(50svw - 5.52em);
    width: 11.04em;
    height: 8.56em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bidText {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#meldTable {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

#trumpColumn img {
    height: 0.8em;
    filter: invert(100%);
}

#bidButtons {
    width: 100%;
    margin-top: 0.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bidButtons input {
    width: 3em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#trumpText {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#trumpText input {
    width: 8em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#playText {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#playBtns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#playBtn, #tossBtn {
    width: 4em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#handText {
    width: 80svw;
    display: none;
    text-align: center;
}

#handText p {
    margin-bottom: 0.8em;
}

#handGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: 3em 3em 3em;
    margin-bottom: 0.8em;
}

#handText img {
    position: relative;
    top: 0.3em;
    height: 1.3em;
    filter: invert(100%);
}

#handBtn {
    width: 4em;
    margin-top: 0.4em;
    height: 1.3em;
    border: none;
    background-color: white;
}

#iText {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.4em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: black;
    background-color: white;
}

.blackClose {
    position: absolute;
    top: 0.26em;
    right: 0.26em;
    height: 1.32em;
}

#wGrid, #nGrid, #eGrid {
    position: absolute;
    width: 5.488em;
    height: 5.488em;
    display: none;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 1.008em 1.12em 1.12em 1.12em 1.12em;
    justify-content: space-around;
    text-align: center;
    color: black;
    background-color: #ffffffc0;
}

#wGrid {
    top: calc(050svh - 2.8em);
    left: 0.44em;
}

#nGrid {
    top: 1.76em;
    left: calc(050svw - 2.8em);
}

#eGrid {
    top: calc(050svh - 2.8em);
    left: calc(100svw - 5.92em);
}

.gIcon {
    height: 0.8em;
}

.cIcon {
    height: 1em;
}

#infoAreas {
    position: absolute;
    text-align: center;
    display: none;
    z-index: -1000;
}

#wInfo .infoName {
    position: absolute;
    left: 0.4em;
    width: 5.6em;
}

#wInfo .infoBid {
    position: absolute;
    left: 0.4em;
    width: 5.6em;
}

#wInfo .infoHint {
    position: absolute;
    left: 0.4em;
    width: 5.6em;
}

#nInfo {
    position: absolute;
    top: 0.44em;
    left: calc(50svw - 10em);
    width: 20em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#eInfo .infoName {
    position: absolute;
    left: calc(100svw - 6em);
    width: 5.6em;
}

#eInfo .infoBid {
    position: absolute;
    left: calc(100svw - 6em);
    width: 5.6em;
}

#eInfo .infoHint {
    position: absolute;
    left: calc(100svw - 6em);
    width: 5.6em;
}

#sInfo {
    position: absolute;
    top: calc(100svh - 1.6em);
    left: calc(50svw - 10em);
    width: 20em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@keyframes blink {
    0% {opacity:1}
    50% {opacity:0}
    100% {opacity:1}
}

.infoHint img {
    height: 0.75em;
    filter: invert(100%);
    opacity: 100%;
}

#menuText {
    position: absolute;
    width: 16em;
    padding: 0.4em;
    color: black;
    background-color: white;
    display: none;
}

.menuIcon {
    position: relative;
    top: 0.3em;
    height: 1.32em;
}

#aboutText {
    position: absolute;
    padding: 0.4em;
    width: 16em;
    color: black;
    background-color: white;
    display: none;
}