:root {
    --body-width:       100vw;
    --body-height:      100vh;
    --body-font-size:   calc(min(4vw, 4vh));
    --felt-width:       calc(var(--body-width));
    --felt-height:      calc(var(--body-height));
    --felt-padding:     calc(min(var(--felt-width)*0.01,   var(--felt-height)*0.01  ));
    --card-height:      calc(min(var(--felt-width)*0.95/4, var(--felt-height)*0.95/4));
    --card-width:       calc(var(--card-height) / 3.5 * 2.5);
    --icon-width:       calc(min(4vw, 4vh));
}

body {
    width: var(--body-width);
    margin: auto;
    font-family: sans-serif;
    font-size: var(--body-font-size);
    user-select: none;
    touch-action: none;
}

#felt {
    width: var(--felt-width);
    height: var(--felt-height);
    background-color: darkgreen;
    position: relative;
}

#canvas {
    position: absolute;
}

#corner {
    color: white;
    width: var(--card-width);
    height: var(--card-height);
    position: absolute;
    top: var(--felt-padding);
    left: var(--felt-padding);
}

#reload {
    filter: invert(100%);
    width: var(--icon-width);
    position: absolute;
    top: var(--felt-padding);
    left: calc(var(--felt-width) - var(--felt-padding) - var(--icon-width));
}

#center {
    color: white;
    width: calc(var(--felt-width) - var(--card-height)*2 - var(--felt-padding)*4);
    height: calc(var(--felt-height) - var(--card-height)*2 - var(--felt-padding)*4);
    position: absolute;
    top: calc(var(--card-height) + var(--felt-padding)*2);
    left: calc(var(--card-height) + var(--felt-padding)*2);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mid {
    padding-top: calc(var(--felt-padding)*2);
    padding-bottom: calc(var(--felt-padding)*2);
    width: 70%;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#left, #right {
    text-align: center;
}

#bot {
    margin-top: calc(var(--felt-padding)*4);
    width: 100%;
    text-align: center;
}

#slider {
    width: 95%;
}

#button {
    width: 50%;
    font-family: sans-serif;
    font-size: var(--body-font-size);
    color: black;
    background-color: white;
}
