:root {
    --body-width:       min(1.000*100vw, 1.000*640px);
    --body-font-size:   min(0.030*100vw, 0.030*640px);
    --header-font-size: min(0.060*100vw, 0.060*640px);
    --arrow-font-size:  min(0.080*100vw, 0.080*640px);
    --arrow-margin:     min(0.050*100vw, 0.050*640px);
    --puzzle-size:      min(0.440*100vw, 0.440*640px);
    --tile-size:        min(0.080*100vw, 0.080*640px);
    --tile-font-size:   min(0.050*100vw, 0.050*640px);
    --tile-pitch:       min(0.090*100vw, 0.090*640px);
    --keyboard-width:   min(1.000*100vw, 1.000*640px);
    --key-width:        min(0.090*100vw, 0.090*640px);
    --key-height:       min(0.110*100vw, 0.110*640px);
    --key-font-size:    min(0.050*100vw, 0.050*640px);
    --key-horizontal:   min(0.100*100vw, 0.100*640px);
    --key-vertical:     min(0.120*100vw, 0.120*640px);
    --row1-offset:      min(0.005*100vw, 0.005*640px);
    --row2-offset:      min(0.055*100vw, 0.055*640px);
    --row3-offset:      min(0.105*100vw, 0.105*640px);
    --bs-font-size:     min(0.040*100vw, 0.040*640px);
}

body {
    width: var(--body-width);
    margin: auto;
    font-family: sans-serif;
    font-size: var(--body-font-size);
}

#header {
    font-size: var(--header-font-size);
    font-weight: 600;
    text-align: center;
    margin: 8px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow button {
    background-color: transparent;
    border-style: none;
    color: lightgrey;
    font-size: var(--arrow-font-size);
    margin: var(--arrow-margin);
}

#puzzle {
    width: var(--puzzle-size);
    height: var(--puzzle-size);
    position: relative;
    display: inline-block;
    /* margin: auto; */
}

#puzzle button {
    width: var(--tile-size);
    height: var(--tile-size);
    font-size: var(--tile-font-size);
    font-weight: 600;
    position: absolute;
    z-index: 0;
}

#puzzle :nth-child(1) {left: calc(0*var(--tile-pitch)); top: calc(0*var(--tile-pitch));}
#puzzle :nth-child(2) {left: calc(1*var(--tile-pitch)); top: calc(0*var(--tile-pitch));}
#puzzle :nth-child(3) {left: calc(2*var(--tile-pitch)); top: calc(0*var(--tile-pitch));}
#puzzle :nth-child(4) {left: calc(3*var(--tile-pitch)); top: calc(0*var(--tile-pitch));}
#puzzle :nth-child(5) {left: calc(4*var(--tile-pitch)); top: calc(0*var(--tile-pitch));}
#puzzle :nth-child(6) {left: calc(0*var(--tile-pitch)); top: calc(1*var(--tile-pitch));}
#puzzle :nth-child(7) {left: calc(2*var(--tile-pitch)); top: calc(1*var(--tile-pitch));}
#puzzle :nth-child(8) {left: calc(4*var(--tile-pitch)); top: calc(1*var(--tile-pitch));}
#puzzle :nth-child(9) {left: calc(0*var(--tile-pitch)); top: calc(2*var(--tile-pitch));}
#puzzle :nth-child(10) {left: calc(1*var(--tile-pitch)); top: calc(2*var(--tile-pitch));}
#puzzle :nth-child(11) {left: calc(2*var(--tile-pitch)); top: calc(2*var(--tile-pitch));}
#puzzle :nth-child(12) {left: calc(3*var(--tile-pitch)); top: calc(2*var(--tile-pitch));}
#puzzle :nth-child(13) {left: calc(4*var(--tile-pitch)); top: calc(2*var(--tile-pitch));}
#puzzle :nth-child(14) {left: calc(0*var(--tile-pitch)); top: calc(3*var(--tile-pitch));}
#puzzle :nth-child(15) {left: calc(2*var(--tile-pitch)); top: calc(3*var(--tile-pitch));}
#puzzle :nth-child(16) {left: calc(4*var(--tile-pitch)); top: calc(3*var(--tile-pitch));}
#puzzle :nth-child(17) {left: calc(0*var(--tile-pitch)); top: calc(4*var(--tile-pitch));}
#puzzle :nth-child(18) {left: calc(1*var(--tile-pitch)); top: calc(4*var(--tile-pitch));}
#puzzle :nth-child(19) {left: calc(2*var(--tile-pitch)); top: calc(4*var(--tile-pitch));}
#puzzle :nth-child(20) {left: calc(3*var(--tile-pitch)); top: calc(4*var(--tile-pitch));}
#puzzle :nth-child(21) {left: calc(4*var(--tile-pitch)); top: calc(4*var(--tile-pitch));}

#prompt {
    margin: 8px;
}

#keyboard {
    width: var(--keyboard-width);
    position: relative;
}

#keyboard button {
    width: var(--key-width);
    height: var(--key-height);
    font-size: var(--key-font-size);
    font-weight: 600;
    position: absolute;
    z-index: 0;
}

#keyboard :nth-child(1) {left: calc(0*var(--key-horizontal) + var(--row1-offset)); top: calc(0*var(--key-vertical));}
#keyboard :nth-child(2) {left: calc(1*var(--key-horizontal) + var(--row1-offset)); top: calc(0*var(--key-vertical));}
#keyboard :nth-child(3) {left: calc(2*var(--key-horizontal) + var(--row1-offset)); top: calc(0*var(--key-vertical));}
#keyboard :nth-child(4) {left: calc(3*var(--key-horizontal) + var(--row1-offset)); top: calc(0*var(--key-vertical));}
#keyboard :nth-child(5) {left: calc(4*var(--key-horizontal) + var(--row1-offset)); top: calc(0*var(--key-vertical));}
#keyboard :nth-child(6) {left: calc(5*var(--key-horizontal) + var(--row1-offset)); top: calc(0*var(--key-vertical));}
#keyboard :nth-child(7) {left: calc(6*var(--key-horizontal) + var(--row1-offset)); top: calc(0*var(--key-vertical));}
#keyboard :nth-child(8) {left: calc(7*var(--key-horizontal) + var(--row1-offset)); top: calc(0*var(--key-vertical));}
#keyboard :nth-child(9) {left: calc(8*var(--key-horizontal) + var(--row1-offset)); top: calc(0*var(--key-vertical));}
#keyboard :nth-child(10) {left: calc(9*var(--key-horizontal) + var(--row1-offset)); top: calc(0*var(--key-vertical));}
#keyboard :nth-child(11) {left: calc(0*var(--key-horizontal) + var(--row2-offset)); top: calc(1*var(--key-vertical));}
#keyboard :nth-child(12) {left: calc(1*var(--key-horizontal) + var(--row2-offset)); top: calc(1*var(--key-vertical));}
#keyboard :nth-child(13) {left: calc(2*var(--key-horizontal) + var(--row2-offset)); top: calc(1*var(--key-vertical));}
#keyboard :nth-child(14) {left: calc(3*var(--key-horizontal) + var(--row2-offset)); top: calc(1*var(--key-vertical));}
#keyboard :nth-child(15) {left: calc(4*var(--key-horizontal) + var(--row2-offset)); top: calc(1*var(--key-vertical));}
#keyboard :nth-child(16) {left: calc(5*var(--key-horizontal) + var(--row2-offset)); top: calc(1*var(--key-vertical));}
#keyboard :nth-child(17) {left: calc(6*var(--key-horizontal) + var(--row2-offset)); top: calc(1*var(--key-vertical));}
#keyboard :nth-child(18) {left: calc(7*var(--key-horizontal) + var(--row2-offset)); top: calc(1*var(--key-vertical));}
#keyboard :nth-child(19) {left: calc(8*var(--key-horizontal) + var(--row2-offset)); top: calc(1*var(--key-vertical));}
#keyboard :nth-child(20) {left: calc(0*var(--key-horizontal) + var(--row3-offset)); top: calc(2*var(--key-vertical));}
#keyboard :nth-child(21) {left: calc(1*var(--key-horizontal) + var(--row3-offset)); top: calc(2*var(--key-vertical));}
#keyboard :nth-child(22) {left: calc(2*var(--key-horizontal) + var(--row3-offset)); top: calc(2*var(--key-vertical));}
#keyboard :nth-child(23) {left: calc(3*var(--key-horizontal) + var(--row3-offset)); top: calc(2*var(--key-vertical));}
#keyboard :nth-child(24) {left: calc(4*var(--key-horizontal) + var(--row3-offset)); top: calc(2*var(--key-vertical));}
#keyboard :nth-child(25) {left: calc(5*var(--key-horizontal) + var(--row3-offset)); top: calc(2*var(--key-vertical));}
#keyboard :nth-child(26) {left: calc(6*var(--key-horizontal) + var(--row3-offset)); top: calc(2*var(--key-vertical));}
#keyboard :nth-child(27) {left: calc(7*var(--key-horizontal) + var(--row3-offset)); top: calc(2*var(--key-vertical)); font-size: var(--bs-font-size)}
