body {
    width: min(1.00*100vw, 1.00*640px);
    margin: auto;
    font-family: sans-serif;
    font-size: min(0.03*100vw, 0.03*640px);
}

#header {
    font-size: min(0.05*100vw, 0.05*640px);
    font-weight: 600;
    text-align: center;
    margin: 8px;
}

#prompt {
    margin: 8px;
}

#puzzle {
    width: min(0.40*100vw, 0.40*640px);
    height: min(0.40*100vw, 0.40*640px);
    position: relative;
    margin: auto;
}

#puzzle button {
    width: min(0.07*100vw, 0.07*640px);
    height: min(0.07*100vw, 0.07*640px);
    position: absolute;
    font-size: min(0.05*100vw, 0.05*640px);
    font-weight: 600;
    z-index: 0;
}

#puzzle :nth-child(1) {left: min(0*0.08*100vw, 0*0.08*640px); top: min(0*0.08*100vw, 0*0.08*640px);}
#puzzle :nth-child(2) {left: min(1*0.08*100vw, 1*0.08*640px); top: min(0*0.08*100vw, 0*0.08*640px);}
#puzzle :nth-child(3) {left: min(2*0.08*100vw, 2*0.08*640px); top: min(0*0.08*100vw, 0*0.08*640px);}
#puzzle :nth-child(4) {left: min(3*0.08*100vw, 3*0.08*640px); top: min(0*0.08*100vw, 0*0.08*640px);}
#puzzle :nth-child(5) {left: min(4*0.08*100vw, 4*0.08*640px); top: min(0*0.08*100vw, 0*0.08*640px);}
#puzzle :nth-child(6) {left: min(0*0.08*100vw, 0*0.08*640px); top: min(1*0.08*100vw, 1*0.08*640px);}
#puzzle :nth-child(7) {left: min(2*0.08*100vw, 2*0.08*640px); top: min(1*0.08*100vw, 1*0.08*640px);}
#puzzle :nth-child(8) {left: min(4*0.08*100vw, 4*0.08*640px); top: min(1*0.08*100vw, 1*0.08*640px);}
#puzzle :nth-child(9) {left: min(0*0.08*100vw, 0*0.08*640px); top: min(2*0.08*100vw, 2*0.08*640px);}
#puzzle :nth-child(10) {left: min(1*0.08*100vw, 1*0.08*640px); top: min(2*0.08*100vw, 2*0.08*640px);}
#puzzle :nth-child(11) {left: min(2*0.08*100vw, 2*0.08*640px); top: min(2*0.08*100vw, 2*0.08*640px);}
#puzzle :nth-child(12) {left: min(3*0.08*100vw, 3*0.08*640px); top: min(2*0.08*100vw, 2*0.08*640px);}
#puzzle :nth-child(13) {left: min(4*0.08*100vw, 4*0.08*640px); top: min(2*0.08*100vw, 2*0.08*640px);}
#puzzle :nth-child(14) {left: min(0*0.08*100vw, 0*0.08*640px); top: min(3*0.08*100vw, 3*0.08*640px);}
#puzzle :nth-child(15) {left: min(2*0.08*100vw, 2*0.08*640px); top: min(3*0.08*100vw, 3*0.08*640px);}
#puzzle :nth-child(16) {left: min(4*0.08*100vw, 4*0.08*640px); top: min(3*0.08*100vw, 3*0.08*640px);}
#puzzle :nth-child(17) {left: min(0*0.08*100vw, 0*0.08*640px); top: min(4*0.08*100vw, 4*0.08*640px);}
#puzzle :nth-child(18) {left: min(1*0.08*100vw, 1*0.08*640px); top: min(4*0.08*100vw, 4*0.08*640px);}
#puzzle :nth-child(19) {left: min(2*0.08*100vw, 2*0.08*640px); top: min(4*0.08*100vw, 4*0.08*640px);}
#puzzle :nth-child(20) {left: min(3*0.08*100vw, 3*0.08*640px); top: min(4*0.08*100vw, 4*0.08*640px);}
#puzzle :nth-child(21) {left: min(4*0.08*100vw, 4*0.08*640px); top: min(4*0.08*100vw, 4*0.08*640px);}

#keyboard {
    width: min(1.00*100vw, 1.00*640px);
    position: relative;
}

#keyboard button {
    width: min(0.09*100vw, 0.09*640px);
    height: min(0.09*100vw, 0.09*640px);
    position: absolute;
    font-size: min(0.05*100vw, 0.05*640px);
    font-weight: 600;
    z-index: 0;
}

#keyboard :nth-child(1) {left: min(0*0.10*100vw + 0.5vw, 0*0.10*640px + 3.2px); top: min(0*0.10*100vw, 0*0.10*640px);}
#keyboard :nth-child(2) {left: min(1*0.10*100vw + 0.5vw, 1*0.10*640px + 3.2px); top: min(0*0.10*100vw, 0*0.10*640px);}
#keyboard :nth-child(3) {left: min(2*0.10*100vw + 0.5vw, 2*0.10*640px + 3.2px); top: min(0*0.10*100vw, 0*0.10*640px);}
#keyboard :nth-child(4) {left: min(3*0.10*100vw + 0.5vw, 3*0.10*640px + 3.2px); top: min(0*0.10*100vw, 0*0.10*640px);}
#keyboard :nth-child(5) {left: min(4*0.10*100vw + 0.5vw, 4*0.10*640px + 3.2px); top: min(0*0.10*100vw, 0*0.10*640px);}
#keyboard :nth-child(6) {left: min(5*0.10*100vw + 0.5vw, 5*0.10*640px + 3.2px); top: min(0*0.10*100vw, 0*0.10*640px);}
#keyboard :nth-child(7) {left: min(6*0.10*100vw + 0.5vw, 6*0.10*640px + 3.2px); top: min(0*0.10*100vw, 0*0.10*640px);}
#keyboard :nth-child(8) {left: min(7*0.10*100vw + 0.5vw, 7*0.10*640px + 3.2px); top: min(0*0.10*100vw, 0*0.10*640px);}
#keyboard :nth-child(9) {left: min(8*0.10*100vw + 0.5vw, 8*0.10*640px + 3.2px); top: min(0*0.10*100vw, 0*0.10*640px);}
#keyboard :nth-child(10) {left: min(9*0.10*100vw + 0.5vw, 9*0.10*640px + 3.2px); top: min(0*0.10*100vw, 0*0.10*640px);}
#keyboard :nth-child(11) {left: min(0*0.10*100vw + 5.5vw, 0*0.10*640px + 35.2px); top: min(1*0.10*100vw, 1*0.10*640px);}
#keyboard :nth-child(12) {left: min(1*0.10*100vw + 5.5vw, 1*0.10*640px + 35.2px); top: min(1*0.10*100vw, 1*0.10*640px);}
#keyboard :nth-child(13) {left: min(2*0.10*100vw + 5.5vw, 2*0.10*640px + 35.2px); top: min(1*0.10*100vw, 1*0.10*640px);}
#keyboard :nth-child(14) {left: min(3*0.10*100vw + 5.5vw, 3*0.10*640px + 35.2px); top: min(1*0.10*100vw, 1*0.10*640px);}
#keyboard :nth-child(15) {left: min(4*0.10*100vw + 5.5vw, 4*0.10*640px + 35.2px); top: min(1*0.10*100vw, 1*0.10*640px);}
#keyboard :nth-child(16) {left: min(5*0.10*100vw + 5.5vw, 5*0.10*640px + 35.2px); top: min(1*0.10*100vw, 1*0.10*640px);}
#keyboard :nth-child(17) {left: min(6*0.10*100vw + 5.5vw, 6*0.10*640px + 35.2px); top: min(1*0.10*100vw, 1*0.10*640px);}
#keyboard :nth-child(18) {left: min(7*0.10*100vw + 5.5vw, 7*0.10*640px + 35.2px); top: min(1*0.10*100vw, 1*0.10*640px);}
#keyboard :nth-child(19) {left: min(8*0.10*100vw + 5.5vw, 8*0.10*640px + 35.2px); top: min(1*0.10*100vw, 1*0.10*640px);}
#keyboard :nth-child(20) {left: min(1*0.10*100vw + 0.5vw, 1*0.10*640px + 3.2px); top: min(2*0.10*100vw, 2*0.10*640px);}
#keyboard :nth-child(21) {left: min(2*0.10*100vw + 0.5vw, 2*0.10*640px + 3.2px); top: min(2*0.10*100vw, 2*0.10*640px);}
#keyboard :nth-child(22) {left: min(3*0.10*100vw + 0.5vw, 3*0.10*640px + 3.2px); top: min(2*0.10*100vw, 2*0.10*640px);}
#keyboard :nth-child(23) {left: min(4*0.10*100vw + 0.5vw, 4*0.10*640px + 3.2px); top: min(2*0.10*100vw, 2*0.10*640px);}
#keyboard :nth-child(24) {left: min(5*0.10*100vw + 0.5vw, 5*0.10*640px + 3.2px); top: min(2*0.10*100vw, 2*0.10*640px);}
#keyboard :nth-child(25) {left: min(6*0.10*100vw + 0.5vw, 6*0.10*640px + 3.2px); top: min(2*0.10*100vw, 2*0.10*640px);}
#keyboard :nth-child(26) {left: min(7*0.10*100vw + 0.5vw, 7*0.10*640px + 3.2px); top: min(2*0.10*100vw, 2*0.10*640px);}
#keyboard :nth-child(27) {left: min(8*0.10*100vw + 0.5vw, 8*0.10*640px + 3.2px); top: min(2*0.10*100vw, 2*0.10*640px); font-size: min(0.04*100vw, 0.04*640px)}
